provider_installation {
  filesystem_mirror {
    path    = "/home/holuser/terraform_provider"
    include = [
      "registry.terraform.io/vmware/nsxt",
      "registry.terraform.io/vmware/avi",
    ]
  }
  direct {
    exclude = [
      "registry.terraform.io/vmware/nsxt",
      "registry.terraform.io/vmware/avi",
    ]
  }
}