[Unit]
Description=Locust region A demo
Requires=multi-user.target
After=network-online.target docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f locust_regiona
ExecStartPre=/usr/bin/docker run -d --name locust_regiona \
    -e "LOCUST_LOCUSTFILE=avidemo_traffic_true_clientip.py" \
    -e "LOCUST_HOST=10.1.13.136" -e "LOCUST_HEADLESS=true" -e "LOCUST_USERS=5" -e "LOCUST_SPAWN_RATE=1" \
    harbor.site-a.vcf.lab/library/locust_demotraffic:v10
ExecStart=/usr/bin/docker wait locust_regiona
ExecStop=/usr/bin/docker stop locust_regiona
ExecStopPost=-/usr/bin/docker rm -f locust_regiona

[Install]
WantedBy=multi-user.target